@charset "UTF-8";

// Images
figure {
  position: relative;
  width: 100%;
}

img {
  display: inline-block;
  position: relative;
  height: auto;
  border: 0;
}

figcaption {
  @include font-size($figcaption-font-size);
  margin-bottom: $half-spacing;
  font-weight: bold;
}
