
  <script src="https://code.jquery.com/jquery-{{site.jquery_version}}.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-{{site.jquery_version}}.min.js"><\/script>')</script>
  <script src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
  <script src="/js/production.min.js"></script>

  {% if site.google_analytics %}
  {% include google_analytics.html %}
  {% endif %}

</body>
</html>
