<script type='application/ld+json'>
{
  "@context": "http://www.schema.org",
  "@type": "ProfessionalService",
  "name": "Placewise Media",
  "url": "http:://placewise.com",
  "logo": "http://placewise.com/assets/img/logo.png",
  "description": "PlaceWise Media is one of the nation’s largest shopper media networks and the leading provider of digital marketing services to hundreds of malls and lifestyle centers across North America.",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "1390 Lawrence Street #300",
    "addressLocality": "Denver",
    "addressRegion": "CO",
    "postalCode": "80134"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": "39.746524",
    "longitude": "-104.998918"
  },
  "openingHours": "Mo, Tu, We, Th, Fr 08:00-17:00",
  "contactPoint": {
    "@type": "ContactPoint",
    "telephone": "(303) 296-2413"
  }
}
 </script>
