// Footer
$footer-bg: $color-dark-grey;
$footer-bg-img: null;
$footer-font-size: 12;
$footer-link-font-weight: 200;
$footer-text: $color-white;
$footer-link-color: $color-white;
$footer-link-color-hover: $color-white;
$footer-link-text-decoration-hover: underline;
$footer-hours-bg: $color-brand-quaternary;
