// Headings
$heading-font-family: $base-font-family;
$heading-font-family-alt: $base-font-family;
$heading-color-primary: $color-brand-primary;
$heading-color-secondary: $color-brand-secondary;
$heading-line-height: 1;

$heading-list: (
  h1   46   400   $heading-font-family        $heading-color-primary       uppercase,
  h2   36   700   $heading-font-family        $heading-color-secondary     uppercase,
  h3   30   700   $heading-font-family        $heading-color-secondary     uppercase,
  h4   20   400   $heading-font-family-alt    $heading-color-secondary     uppercase,
  h5   18   700   $heading-font-family-alt    $heading-color-secondary     initial,
  h6   16   400   $heading-font-family-alt    $heading-color-secondary     initial
);

$h1-mobile: 32;
$h2-mobile: 24;
$h3-mobile: 20;
$h4-mobile: 18;
$h5-mobile: 18;
$h6-mobile: 16;
