// Modals
$modal-container-bg: $color-white;
$modal-container-color: $base-font-color;

$modal-close-font-size: 40;
$modal-close-position-right: $half-spacing;

$modal-header-padding: $base-spacing;
$modal-header-bg: $color-light-grey;
$modal-header-color: $base-font-color;

$modal-body-padding: $base-spacing;
$modal-body-bg: $color-white;
$modal-body-color: $base-font-color;

$modal-link-color: $base-link-color;
$modal-link-color-hover: $base-link-color-hover;

$modal-footer-padding: $base-spacing;
$modal-footer-bg: $color-light-grey;
$modal-footer-color: $base-font-color;

$modal-overlay-opacity: .5;
$modal-overlay-bg: $color-black;
