// Selectric
$selectric-button-bg: $color-brand-primary-complimentary;
$selectric-font: $base-button-font-family;
$selectric-font-size: $base-button-font-size;
$selectric-label-text-transform: uppercase;
$selectric-label-color: $color-white;
$selectric-button-border-color: $color-light-grey;
$selectric-items-bg: $color-white;
$selectric-selected-items-bg: $color-light-grey;
$selectric-selected-items-color: $color-grey;
$selectric-selected-items-bg-hover: #F0F0F0;
$selectric-selected-items-color-hover: #444;
$selectric-disabled-items-color: $color-brand-secondary !important;
$selectric-selected-items-label-color: #444;
