// Social Media
$component-social-icon-size: 35px;
$component-social-icon-font-size: 22px;
$component-social-icon-line-height: 35px;
$component-social-icon-border-size: 2px;
$component-social-icon-font-size-footer: 30px;

$twitter-link-color: #00aced;
$twitter-color-alt: #b8dcee;
$twitter-link-color-hover: $twitter-link-color;

$facebook-link-color: #3b5998;
$facebook-color-alt: #cad3eb;
$facebook-link-color-hover: $facebook-link-color;

$snapchat-link-color: #fffc00;
$snapchat-color-alt: #c90;
$snapchat-link-color-hover: $snapchat-link-color;

$youtube-link-color: #db1117;
$youtube-link-color-hover: $youtube-link-color;

$pinterest-link-color: #cb2027;
$pinterest-link-color-hover: $pinterest-link-color;

$instagram-link-color: #ba5915;
$instagram-link-color-hover: $instagram-link-color;

$github-link-color: #4183c4;
$github-link-color-hover: $github-link-color;

$codepen-link-color: $color-white;
$codepen-link-color-hover: $codepen-link-color;

$dribbble-link-color: #ea4c89;
$dribbble-link-color-hover: $dribbble-link-color;

$linkedin-link-color: #007bb6;
$linkedin-link-color-hover: $linkedin-link-color;

$tripadvisor-link-color: #589442;
$tripadvisor-link-color-hover: $tripadvisor-link-color;

$envelope-link-color: $color-brand-primary;
$envelope-link-color-hover: $envelope-link-color;

$mobile-link-color: #ba5915;
$mobile-link-color-hover: $mobile-link-color;

$calendar-link-color: $color-brand-primary;
