---
title: Sitemap
permalink: "/sitemap/"
class: sitemap
parent: Sitemap
description:
search: exclude
---

<h3>Placewise</h3>
<ul>
  {% for page in site.pages %}
  {% if page.categories contains 'placewise' %}
  {% unless page.sitemap == "exclude" %}
  <li>
    <a href="{{ page.url }}">{{ page.title }}</a>
  </li>
  {% endunless %}
  {% endif %}
  {% endfor %}
</ul>

<h3>Management</h3>
<ul>
  {% for page in site.pages %}
  {% if page.categories contains 'management' %}
  {% unless page.sitemap == "exclude" %}
  <li>
    <a href="{{ page.url }}">{{ page.title }}</a>
  </li>
  {% endunless %}
  {% endif %}
  {% endfor %}
</ul>

<h3>Articles</h3>
<ul>
  {% for post in site.posts %}
  {% unless post.categories contains 'job' %}
  <li>
    <a href="{{ post.url }}">{{ post.title }}</a>
  </li>
  {% endunless %}
  {% endfor %}
</ul>

<h3>Jobs</h3>
<ul>
  {% for post in site.posts %}
  {% if post.categories contains 'job' %}
  <li>
    <a href="{{ post.url }}">{{ post.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>

<h3>Legal</h3>
<ul>
  {% for page in site.pages %}
  {% if page.categories contains 'legal' %}
  {% unless page.sitemap == "exclude" %}
  <li>
    <a href="{{ page.url }}">{{ page.title }}</a>
  </li>
  {% endunless %}
  {% endif %}
  {% endfor %}
</ul>
